## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/repositories.config

## Rider
.idea/
*.sln.iml

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## Logs
*.log
*.tmp

## OS
.DS_Store
Thumbs.db
